body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blanchedalmond;
  color: saddlebrown;
}

a {
  color: purple;
}

.delete-form {
  display: inline-block;
  margin-top: 10px;
}
	
li {
  list-style: none;
}